<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Pitview{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js"></script>
</head>
<body>
    {% if session.get('logged_in') or demo_mode %}
    <nav>
        <a href="{{ url_for('dashboard.render') }}">Dashboard</a>
        <a href="{{ url_for('session.render') }}">Replay</a>
        <a href="{{ url_for('settings.showsettings') }}">Settings</a>
        {% if not demo_mode %}<a href="{{ url_for('auth.logout') }}">Logout</a>{% endif %}
    </nav>
    <div class="page">
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if session.get('logged_in') or demo_mode %}
    </div>
    {% endif %}

</body>
</html>