{% extends "base.html" %}
{% block content %}
    <p id="anomalyWarning"></p>
    
    <button id="startBtn">Start Recording</button>
    <button id="stopBtn">Stop Recording</button>

    <div id="throttle">
        <canvas id="throttleChart">

        </canvas>
    </div>
    <div id="brake">
        <canvas id="brakeChart">

        </canvas>
    </div>
    <div id="steering">
        <canvas id="steeringChart">

        </canvas>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}